@model IsrealLeague.Models.Account

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Profile</h2>

<div>
    <h4>@Html.DisplayFor(model => model.username)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>
    </dl>
</div>
<div>    
    <a asp-action="Index">Back to List</a>
</div>
